.contact {
  height: 100vh;
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-container {
    display: flex;
    align-items: center;
  }

  .image-container {
    display: flex;
    flex-direction: column;

    .contact-image {
      box-shadow: 15px 20px 30px #797977;
      height: auto;
      max-width: 460px;
      width: 100%;
      transition: ease-in-out 0.3s;
      animation: fadeIn 1s;
    }
  }

  .contact-text {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    width: 400px;
    color: #171717;
    animation: fadeIn 1s;

    h1 {
      font-size: 42px;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
    hr {
      margin-bottom: 1rem;
      width: 100%;
      height: 1px;
      background-color: #8b8b8b;
      border-width: 0;
      border-style: none;
    }
    a {
      width: 100%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 21px;
      line-height: 36px;
      margin-bottom: 1rem;
      color: #454545;
      transition: ease-in-out 0.3s;
      &:hover {
        color: #303030;
        text-shadow: 1px 1px 1px #797977;
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 1px;
      }
    }
    .fab,
    .far {
      margin-right: 0.5rem;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// MAX WIDTH RESPONSIVE:

@media screen and (max-width: 1280px) {
  .contact-container .image-container .contact-image {
    max-width: 260px;
    box-shadow: 10px 12px 20px #797977;
  }
  .contact .contact-text {
    margin-left: 100px;
    max-width: 280px;
    h1 {
      font-size: 38px;
    }
    a {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact .contact-text {
    max-width: 500px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 900px) {
  .contact .contact-container {
    align-items: flex-start;
  }

  .contact .image-container {
    margin-bottom: 3rem;
  }

  .contact-container .image-container .contact-image {
    max-width: 300px;
  }
  .contact .contact-text {
    max-width: 250px;
    margin-left: 75px;
  }
}

@media screen and (max-width: 720px) {
  .contact .contact-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-container .image-container .contact-image {
    max-width: 300px;
    box-shadow: 6px 6px 15px #797977;
  }

  .contact .contact-text {
    max-width: 400px;
    margin-left: 0;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .contact .contact-container {
    margin-top: 0;
  }
  .contact-container .image-container .contact-image {
    max-width: 220px;
  }
}

@media screen and (max-width: 460px) {
  .contact-container .image-container .contact-image {
    max-width: 200px;
  }
  .contact .contact-text {
    max-width: 260px;
    h1 {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 360px) {
  .contact .image-container {
    margin-bottom: 2.5rem;
  }
  .contact-container .image-container .contact-image {
    max-width: 200px;
  }
  .contact .contact-text {
    max-width: 260px;
    h1 {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 320px) {
  .contact .contact-container {
    margin-top: 0;
  }
  .contact-container .image-container .contact-image {
    display: none;
  }
  .contact .contact-text {
    max-width: 220px;
    h1 {
      font-size: 28px;
    }
  }
}

// MAX HEIGHT RESPONSIVE:

@media screen and (max-height: 540px) {
  nav .nav-links {
    padding-bottom: 30vh;
  }
  .contact .contact-container {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 3rem;
  }
  .contact-container .image-container .contact-image {
    max-width: 260px;
  }
  .contact .contact-text {
    max-width: 260px;
    margin-left: 60px;
    align-items: flex-start;
    h1 {
      font-size: 32px;
    }
  }
}

@media screen and (max-height: 420px) {
  nav .nav-links {
    width: 100%;
  }
  .contact .contact-container {
    flex-direction: column;
    margin-top: 0;
    height: 100%;
  }
  .contact .contact-text {
    max-width: 525px;
    margin-left: 0;
    align-items: flex-start;
  }
  .contact-container .image-container .contact-image {
    display: none;
  }
  .contact-container .image-container .caption-title {
    display: none;
  }
}

@media screen and (max-height: 375px) {
  .contact .contact-text {
    max-width: 500px;
  }
}

@media screen and (max-height: 360px) {
  .contact .contact-text {
    max-width: 480px;
  }
}

@media screen and (max-height: 320px) {
  .contact {
    padding-top: 60px;
  }
  .contact .contact-text {
    max-width: 400px;
    a {
      line-height: 28px;
    }
  }
}

@media screen and (max-height: 300px) {
  .contact {
    padding-top: 50px;
  }
  .contact .contact-text {
    max-width: 400px;
    a {
      line-height: 28px;
      margin-bottom: 0.5rem;
    }
  }
}
