.home-container {
  height: 100vh;
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-container {
    display: flex;
    flex-direction: column;

    .landing-image {
      box-shadow: 15px 20px 30px #797977;
      width: 720px;
      height: auto;
      transition: ease-in-out 0.3s;
      animation: fadeIn 1s;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// MAX WIDTH RESPONSIVE:

@media screen and (max-width: 1280px) {
  .home-container .image-container .landing-image {
    width: 480px;
  }
}

@media screen and (max-width: 600px) {
  .home-container .image-container .landing-image {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .home-container .image-container .landing-image {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .home-container .image-container .landing-image {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .home-container .image-container .landing-image {
    width: 260px;
  }
}

@media screen and (max-width: 300px) {
  .home-container .image-container .landing-image {
    width: 220px;
  }
}

// MAX HEIGHT RESPONSIVE:

@media screen and (max-height: 540px) {
  .home-container .image-container .landing-image {
    width: 420px;
  }
}

@media screen and (max-height: 420px) {
  .home-container .image-container .landing-image {
    width: 300px;
  }
}

@media screen and (max-height: 375px) {
  .home-container .image-container .landing-image {
    width: 240px;
  }
}

@media screen and (max-height: 320px) {
  .home-container .image-container .landing-image {
    width: 220px;
  }
}

@media screen and (max-height: 300px) {
  .home-container .image-container .landing-image {
    width: 180px;
  }
}
