nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #171717;
  background-image: url("../assets/background-images/rocky-wall.png");
  z-index: 1;
  top: 0;
  width: 100%;
  position: fixed;

  .logo {
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 32px;
    transition: ease-in-out 0.3s;
    &:hover {
      color: #8b8b8b;
    }

    a {
      font-weight: normal;
      color: inherit;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    transition: ease-in-out 0.3s;
    width: 40%;
    height: 100%;
    li {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .nav-links a {
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;
    color: #d0d0d0;
    transition: ease-in-out 0.2s;
    position: relative;
    padding-bottom: 1px;
    &:hover {
      border-bottom: 2px solid;
      border-color: rgba(255, 255, 255, 0.5);
      padding-bottom: 4px;
      color: #ffffff;
    }
  }

  .drop {
    position: relative;
  }

  .dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    width: 160px;
    top: 80px;
    left: -25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #171717;
    background-image: url("../assets/background-images/rocky-wall.png");
    background-position: 0 0;
    background-attachment: fixed;
    transition: ease-in-out 0.2s;

    div {
      display: flex;
      align-items: center;
      height: 50px;
      border-top: 2px solid #454545;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    a {
      margin-left: 1.5rem;
      &:hover {
        border-bottom: 0;
        color: #ffffff;
        margin-left: 1.8rem;
        margin-top: 3px;
      }
    }
  }

  .drop:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #d9dcdf;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 1520px) {
    .nav-links {
      width: 50%;
    }
  }

  @media screen and (max-width: 1280px) {
    .logo {
      font-size: 28px;
    }
    .nav-links {
      width: 60%;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      position: fixed;
      right: 0;
      height: 100vh;
      top: 80px;
      background-color: #171717;
      background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
      background-position: 0 0;
      background-attachment: fixed;
      flex-direction: column;
      align-items: center;
      width: 50%;
      display: none;
      padding-bottom: 50vh;
      transition: opacity 1s ease-out;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links a {
      padding-bottom: 0;
    }
    .dropdown {
      display: none !important;
    }
    .burger {
      display: block;
    }
  }

  @media screen and (max-width: 540px) {
    .nav-links {
      width: 100%;
      padding-bottom: 33vh;
    }
  }

  @media screen and (max-width: 420px) {
    .logo {
      font-size: 21px;
    }
    .burger {
      transform: scale(0.9);
    }
  }

  @media screen and (max-width: 360px) {
    .logo {
      font-size: 18px;
    }
    .burger {
      transform: scale(0.8);
    }
  }

  @media screen and (max-width: 320px) {
    .remove {
      display: none;
    }
  }

  .nav-active {
    animation: fadeIn 0.3s;
    display: flex;
    justify-content: space-evenly;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
