.statement {
  height: 100vh;
  padding-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .statement-container {
    display: flex;
    align-items: center;
    margin: 2rem;
    margin-bottom: 3rem;
  }

  .image-container {
    display: flex;
    flex-direction: column;

    .statement-image {
      box-shadow: 15px 20px 30px #797977;
      height: auto;
      max-width: 460px;
      width: 100%;
      transition: ease-in-out 0.3s;
      animation: fadeInSlide 0.6s;
    }

    .caption-title {
      align-self: flex-end;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      margin-top: 1rem;
      color: #8b8b8b;
      opacity: 0.8;
      animation: fadeInSlide 0.6s;
    }
  }

  .statement-text {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    max-width: 880px;
    color: #171717;
    animation: fadeInSlide 0.6s;

    h1 {
      font-size: 42px;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
    hr {
      margin-bottom: 1rem;
      width: 100%;
      height: 1px;
      background-color: #8b8b8b;
      border-width: 0;
      border-style: none;
    }
    p {
      width: 100%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: #454545;
      transition: ease-in-out 0.3s;
    }
  }

  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(-35px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
